.body {
    overflow-x: hidden;
}

.main-block {
    background-image: url("https://img.dmclk.ru/vitrina/ec/d7/ecd7b739057fb463adcfb60ef412c6f14123b854.webp");
    background-size: cover;
    margin-top: -10px;
    height: 500px;
}

.navbar {
    margin: 30px;
    background-color: white !important;
}
.navbar-brand {
    /*padding-left: 20px;*/
}

/*Кнопки выбора*/


.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: white;
    position: relative;
    top: -60px;
    border-radius: 4px !important;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15) !important;
    border-color: whitesmoke !important;
    align-items: center;
    max-width: fit-content;
    margin: auto;
}
.button-wrapper{
    display: flex;
    flex-direction: row;
}
.complexButton {
    margin: 15px 20px!important;
    padding: 15px 20px!important;
    background-color: #B9BA8E!important;
    width: 230px;
    text-align: center;
}
.companyButton {
    margin: 15px 20px!important;
    padding: 15px 20px!important;
    background-color: #F5DFA6!important;
    width: 230px;
    text-align: center;
}
.callText {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    color: dimgrey;
}
@media(max-width: 560px) {
    .button-wrapper{
    display: flex;
    flex-direction: column;
}
}

/*Описание на главной*/

.points-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.element-wrapper {
    display: flex;
    height: min-content;
    width: 350px;
    margin-top: 10px;
}
.img {
   height: 80px;
    min-width: 50px;
}
.description {
    height: min-content;
    align-self: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    overflow-wrap: break-word;
    padding-left: 10px;
}
.img-fluid {
    width: 75px;
    object-fit: contain;
}
.comments-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.comment-complex {
    max-width: 500px;
    align-content: flex-start;
    margin-left: 90px;
    min-width: 300px;
}
.comment-company {
    max-width: 500px;
    align-self: self-end;
    min-width: 300px;
    margin-left: 30px;
    margin-right: 90px;
}
.comment {
    line-height: 30px;
}
@media(max-width: 560px) {
   .comment-complex {
    max-width: 500px;
    align-content: flex-start;
    min-width: 300px;
    margin-left: 30px;
    margin-top: 10px;
       margin-right: 10px;
}
.comment-company {
    max-width: 500px;
    align-self: self-end;
    min-width: 300px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px;
}
}

/*Поиск*/
form{

    margin-left: 20px;
    width: 100%;
}

/*Карточки комплексов*/
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
     border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
    margin: 20px;
    max-width: min-content;
}
.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.card-img-top {
    height: 100%;
    object-fit: cover;
}
.card-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    overflow-wrap: break-word;
}
.card-title:focus{
     color: #B9BA8E;
}
.complex-fixblock{
    width: 350px;
    height: 220px;
    max-height: 350px;
}
@media(max-width: 825px) {
    .complex-fixblock {
        width: 250px;
    }
    .card-title {
        font-size: 18px!important;
        font-weight: 400!important;
    }
    .address {
        font-size: 16px!important;
        font-weight: 300!important;
    }
}
@media(max-width: 560px) {
    .complex-fixblock {
        width: 300px;
    }
    .card-title {
        font-size: 18px!important;
        font-weight: 400!important;
    }
    .address {
        font-size: 16px!important;
        font-weight: 300!important;
    }
    .form {
        margin-left: 20px;
        width: 100%;
    }
}



/*Карточки застройщиков*/
.card {
    background-color: white !important;
    /*border-radius: 4px !important;*/
    /*box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1) !important;*/
    border-color: white !important;
    margin: 20px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
    background-color: white;
}
.company-fixblock .card-img-top {
    height: 100%;
    object-fit: contain;
}
.card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.company-fixblock{
    width: 200px;
    height: 200px;
}

a {
    color: black !important;
    text-decoration: none !important;
}
.address {
    font-size: 17px;
    color: gray;
}
.mainWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}
.imgWrapper {
    width: 60vh;
    margin-right: 40px;
    margin-bottom: 30px;
}
.general-description {
    width: 50vw;
    margin-right: 20px;
    min-width: 300px;
}
.description {
    font-size: 18px;
}
.apartment-description {
    display: flex;
    flex-direction: column;
}

/*Страница с рейтингом*/
.rating-img {
    width: 150px;
    margin-bottom: 10px;
}


