.body {
    overflow-x: hidden;
}

.main-block {
    /*background-image: image() !important;*/
    /*object-fit: fill;*/

}
.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    background-color: white !important;
    border-radius: 4px !important;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1) !important;
    border-color: white !important;
    margin: 20px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
    background-color: white;
}
.card-img-top {
    height: 100%;
    object-fit: cover;
}
.card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.fixblock{
    width: 350px;
    height: 250px;
    max-height: 350px;
}
a {
    color: black !important;
    text-decoration: none !important;
}
.address {
    font-size: 17px;
    color: gray;
}
.mainWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}
.imgWrapper {
    width: 60vh;
    margin-right: 40px;
    margin-bottom: 30px;
}
.general-description {
    width: 50vw;
    margin-right: 20px;
    min-width: 300px;
}
.description {
    font-size: 18px;
}
.apartment-description {
    display: flex;
    flex-direction: column;
}
